#background {
    bottom: 0;
    min-height: 100%;
    min-width: 100%; 
    position: fixed;
    right: 0; 
    z-index: -100;
}

.btn {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.footer {
    text-align: center;
    z-index: 2;
}

#form {
    color: white;
    float: left;
    text-align: left;
    z-index: 2;
}

#info {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    float: right;
    height: 200px;
    margin-right: 40px;
    margin-top: 60px;
    width: 300px;   
    z-index: 2;  
}

.nav-wrapper {
    background-color: black;
    color: white;
    z-index: 2;
}

#map {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 600px;   
    z-index: 2;
}

span {
    color: black;
    z-index: 2;
}