#background {
    bottom: 0;
    min-height: 100%;
    min-width: 100%; 
    position: fixed;
    right: 0; 
    z-index: -100;
}

body {
    font-family: 'Kosugi', sans-serif;
}

.btn {
    filter: alpha(opacity=50);
    font-family: 'Kosugi', sans-serif;
    opacity: 0.5;
}

.btn:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.card-title {
    color: white;
}

.footer {
    text-align: center;
    z-index: 2;
}

#form {
    color: white;
    float: left;
    text-align: left;
    z-index: 2;
}
    
#info {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    float: right;
    height: 200px;
    margin-right: 40px;
    margin-top: 60px;
    width: 300px;   
    z-index: 2;  
}

#map {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    width: 600px;   
    z-index: 2;
}

nav {
    background: black;
}
.nav-wrapper{
    background-color: black;
    color: white;
    font-family: 'Bungee Shade', cursive;
    z-index: 2;
}

.pop {
    background-color: turquoise;
    filter: alpha(opacity=50);
    float: center;
    left: -50px;
    opacity: 0.5;
    position: absolute;
    top: 125px;
    /* visibility: hidden; */
    z-index: 2;
}

.pop:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

span {
    color: black;
    z-index: 2;
}

.validate {
    color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row {
    margin: 0 auto
    width: 100%;
    }
}