.black {
    position: fixed;
    background-color: black;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;  
    z-index: -200;
}

#background {
    position: fixed;
    bottom: 0;
    min-height: 100%;
    min-width: 100%; 
    right: 0; 
    z-index: -100;
}

body {
    font-family: 'Kosugi', sans-serif;
}

.btn {
    filter: alpha(opacity=50);
    font-family: 'Kosugi', sans-serif;
    opacity: 0.5;
}

.btn:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.card-title {
    color: white;
}

.footer {
    text-align: center;
    z-index: 2;
}

#form {
    color: white;
    float: left;
    text-align: left;
    z-index: 2;
}
    
#info, #pop {
    float: right;
    height: 200px;
    margin-right: 40px;
    margin-top: 60px;
    width: 300px;   
    z-index: 2;  
}

#pop {
    position: absolute;
    bottom: 200px;
    left: 750px;  
}

#map {
    position: relative;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 600px;   
    z-index: 2;
}

nav {
    background: black;
}

.nav-wrapper {
    background-color: black;
    color: white;
    font-family: 'Bungee Shade', cursive;
    z-index: 2;
}

.pop {
    background-color: turquoise;
    opacity: 0.8;
}

.pop:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

span {
    color: black;
    z-index: 2;
}

.validate {
    color: white;
}

@media screen and (max-width: 980px) {
    #pop {
        left: 500px;
    }
}

@media screen and (max-width: 768px) {
    #footer {
        width: 110%;
    }

    #form {
        position: relative;
        left: 40px;
    }

    nav {
        width: 110%;
    }
    #pop {
        left: 370px;
    }
}

@media screen and (max-width: 640px) {
    .brand-logo.center {
        width: 400px;
    }

    #footer {
        position: absolute;
        bottom: -450px;
    }

    #form {
        position: relative;
        left: 90px;
    }

    #map {
        width: 100%;
    }

    nav {
        width: 100%;
        margin-bottom: 30px;
    }

    #pop {
        left: 110px;
        bottom: -225px;
    }
}